<?xml version="1.0"?>
<!--
/**
* Copyright 2018 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
<acl>
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Backend::content">
                <resource id="Aheadworks_News::home" title="Site News" sortOrder="110">
                    <resource id="Aheadworks_News::items" title="Add item" sortOrder="10" />
                    <resource id="Aheadworks_News::news" title="News list" sortOrder="20" />
                    <resource id="Aheadworks_News::settings" title="Settings" sortOrder="30" />
                </resource>
            </resource>
            <resource id="Magento_Backend::stores">
                <resource id="Magento_Backend::stores_settings">
                    <resource id="Magento_Config::config">
                        <resource id="Aheadworks_News::config_aw_news" title="News by aheadWorks" /><!--config_aw_news-->
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>
</config>
